{{ if eq .chezmoi.os "darwin" -}}
if [ -f /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{ end -}}

{{ if eq .machine_type "linux-dev" -}}
export IS_SANDBOX=1
{{ end -}}

export COMPOSIO_INSTALL_DIR="$HOME/.composio"
export MISE_SHIMS="$HOME/.local/share/mise/shims"
export PATH="$MISE_SHIMS:$COMPOSIO_INSTALL_DIR:$HOME/.local/bin:$PATH"
typeset -U path

