model = "gpt-5.4"
model_reasoning_effort = "xhigh"

{{ if or (eq .machine_type "linux-dev") -}}
approval_policy = "never"
sandbox = "danger-full-access"
{{ else if or (eq .machine_type "mac-personal") (eq .machine_type "mac-dev") -}}
[projects."{{ .chezmoi.homeDir }}/sanjeev"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/Downloads/Documents"]
trust_level = "trusted"

[projects."{{ .chezmoi.homeDir }}/dotfiles"]
trust_level = "trusted"
{{ end -}}
